

<h1>Movie Details: </h1>

<h2>@Model["movie"].GetTitle()</h2>
<h3>Genre: @Model["genre"].GetName()</h3>

<a href='/genres/@Model["genre"].GetId()/movies/new'>Add another movie!</a>
<a href='/genres'>View all genres</a>
