

<div class="grid">
  <div class="header">
    <div class="home">
      <p><a href="/">Home</a></p>
    </div>
    <h1>Create New Movie Genre</h1>
  </div>
</div>
<div class="frame">
  <p>Add a Genre</p>

  <form action="/genres" method="post" id=>
    <label for="genreName"></label>
    <input id="genreName" name="genreName" type="text" placeholder="Input Here"><br>
    <button type="submit">Add</button>
  </form>
</div>
<div class="back">
  <p><a href="/genres">Back To Movie Genres</a></p>
</div>
